venv/*
Corpus_clean_lines/*
Rodrigo/data/
Rodrigo/results/
Rodrigo/fastwer/
GeorgeWashington/logs/
GeorgeWashington/results/
GeorgeWashington/results2/
GeorgeWashington/models/Optical/*.ark
GeorgeWashington/models/Optical/*.pth
GeorgeWashington/models/Optical/*.pt
GeorgeWashington/models/Optical/*.ckpt
GeorgeWashington/data/data_train_val/
GeorgeWashington/data/data_test/
GeorgeWashington/data/data_train_80/
GeorgeWashington/data/data_val_10/
GeorgeWashington/Exp-KWS/WordGraph2Index/KwsEvalTool/
GeorgeWashington/Exp-KWS/WordGraph2Index/**/*.o
GeorgeWashington/Exp-KWS/WordGraph2Index/**/*.a
GeorgeWashington/Exp-KWS/WordGraph2Index/**/*.d
GeorgeWashington/Exp-KWS/WordGraph2Index/WordGraph2Index
GeorgeWashington/Exp-KWS/KwsEvalTool/kws-assessment
GeorgeWashington/Exp-KWS/WGIDX/WordGraph2Index
